.masthead-brand a {
    text-decoration: none;
}

.smaller-letters {
    font-size: .85em;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 0.5em;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.05);

}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2));
}

@media print {
    .custom-scrollbar::-webkit-scrollbar {
        display: none;
    }

    main, .bg-dark {
        background-color: #fff;
        color: #000;
    }

    a {
        color: #000 !important;
        text-decoration: none !important;
    }

    a::after {
        content: "" !important;
        background: none !important;
        padding-right: 0 !important;
    }
}

main {
    max-height: calc(90%);
}

.custom-scrollbar {
    height: calc(90% - 3.25em);
    overflow-y: scroll;
}

@media (max-width: 575.98px) {
    main {
        height: 87%;
    }
    .custom-scrollbar {
        height: calc(87% - 3.5em);
    }
    .custom-scrollbar::-webkit-scrollbar {
        width: 0em;
    }
}

:root {
	/*
	line left
	line right
	line bottom
	line top
	arrow left
	arrow right
	arrow diagonal
	*/
	--icon-external-link: url('data:image/svg+xml,\
	<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20"> \
		<g style="stroke:rgb(180,180,180);stroke-width:1"> \
			<line x1="5" y1="5" x2="5" y2="14" /> \
			<line x1="14" y1="9" x2="14" y2="14" /> \
			<line x1="5" y1="14" x2="14" y2="14" /> \
			<line x1="5" y1="5" x2="9" y2="5"  /> \
			<line x1="10" y1="2" x2="17" y2="2"  /> \
			<line x1="17" y1="2" x2="17" y2="9" /> \
			<line x1="10" y1="9" x2="17" y2="2" style="stroke-width:1.5" /> \
		</g> \
	</svg>');
}

a[target="_blank"]::after {
	content: '';
	background: no-repeat var(--icon-external-link);
	padding-right: 1em;
}
