@font-face {
    font-family: "AllerRegular";
    src: url("./assets/fonts/AllerRegular.ttf") format("truetype");
}

@font-face {
    font-family: "AllerItalic";
    src: url("./assets/fonts/AllerItalic.ttf") format("truetype");
}

@font-face {
    font-family: "AllerDisplay";
    src: url("./assets/fonts/AllerDisplay.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: "AllerRegular", -apple-system, 'Segoe UI', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}