{% extends "base.html" %}
{% block content %}
<div id="wrapper">
    <div class="container-fluid bg-secondary text-light mb-2">
        <div class="row">
            <div class="col-sm-12 my-2">
                <div class="d-flex justify-content-center">
                    Hello! My username is healplease. Please put something nice to the box below. Thanks!
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav flex-column">
                            <li class="nav-item pb-2">
                                
                                <button class="btn btn-link btn-block nav-link" onclick="callPage('{{ url_for('main.index') }}')">
                                    All messages</button>
                            </li>
                            <li class="nav-item pb-2">
                                <button class="btn btn-link btn-block nav-link" onclick="callPage('{{ url_for('main.about') }}')">About me</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                {% block page %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<script>
    function callPage( url ) {
        window.location.href = url;
    };
</script>
{% endblock %}
