{% extends "layout.html" %}
{% block page %}

<div class="col-sm-12">
    <div>
        <div class="card-body">
            <div style="color: {{ message.author.color }};"><span class="font-weight-bold">{{ message.author.name or "Anonymous" }}</span></div>
            <div>{{ message.message }}</div>
            <div class="d-flex justify-content-end" id="likes-{{ message.id }}">
                {% if request.remote_addr not in message.likes %}
                <button class="btn btn-link btn-like" onclick="reactToMessage{{ message.id }}(like=true)" title="Like">
                    🖤 {{ message.likes_count }} </button>
                {% else %}
                <button class="btn btn-link btn-like" onclick="reactToMessage{{ message.id }}(like=false)" title="Unlike">
                    💖 {{ message.likes_count }}</button>
                {% endif %}
            </div>
        </div>
        <script>
            function reactToMessage{{ message.id }}( like ) {
                $.ajax( {
                    url: like ? "{{ url_for('main.like_message', id=message.id) }}" : "{{ url_for('main.dislike_message', id=message.id) }}",
                    type: "POST",
                    success: function( data ) {
                        let parser = new DOMParser();
                        let newHTML = parser.parseFromString( data, "text/html" );
                        newHTML.innerHTML = parser.parseFromString( data, "text/html" );
                        console.log(newHTML.querySelector("#likes-{{ message.id }}").innerHTML);
                        $("#likes-{{ message.id }}").html( newHTML.querySelector("#likes-{{ message.id }}").innerHTML );
                    }
                } );
            };
        </script>
    </div>
</div>

{% endblock %}
